@page "/"
@using Azure.AI.OpenAI;
@using WebGPT.Data
@using WebGPT.Data.ChatService;
@using WebGPT.Data.Models;
@inject IChatService AiChatService
@inject IJSRuntime JsRuntime

<PageTitle>WebGPT - Chat</PageTitle>

<div class="flex-grow-1 p-2 pt-0 d-flex flex-column overflow-auto" id="messages">
    @if(AiChatService.Conversation.Count == 1)
    {
        <div class="text-light m-auto  d-flex flex-column align-items-center">
            No questions yet? Let's start the conversation!
            <div class="d-flex mt-3 ms-2">
                @foreach(var question in suggestedQuestions)
                {
                    <button @onclick="async () => await QuickAnswerAsync(question[0])" class="btn btn-outline-light me-2 py-2 px-3 maximize-onhover-pointer">
                        <i class=@(question[1] + " maximize-onhover me-2")></i>
                        @question[0]
                    </button>
                }
            </div>
        </div>
    }

    @foreach(var message in AiChatService.Conversation)
    {
        if (AiChatService.Conversation.Last() == message)
        {
            <div id="last-qa"></div>
        }

        if (message.Role == ChatRole.User)
        {
            <div class="text-light border rounded-1 p-2 align-self-end mb-3 text-wrapped" style="max-width: 75%;">
                @message.Content
            </div>
        }
        else if (message.Role == ChatRole.Assistant)
        {
            if (message.FunctionCall?.Name == "search_web")
            {
                <div class="text-light align-self-start ms-0 mb-2 ps-2 fw-light">
                    <i class="bi bi-globe2 me-1"></i> 
                    Searching Google - 
                    <b>@AiChatService.GetSearchWebFunctionQuery(message.FunctionCall.Arguments)</b>
                </div>
            }
            else if (message is MdChatMessage mdMessage)
            {
                <div class="bg-light border rounded-1 p-2 align-self-start mb-3 p_m-0" style="max-width: 75%;">
                    @((MarkupString)mdMessage.MarkdownContent)
                </div>
            }
        }
        else if (message.Role == ChatRole.System && message.Content == questionCanceledMessage)
        {
            <div class="text-danger align-self-start ms-0 mb-2 ps-2 fw-light">
                <i class="bi bi-x-circle me-1"></i> <b>@questionCanceledMessage</b>
            </div>
        }
    }

    @if (isAnswering)
    {
        <div class="bg-light border rounded-1 p-3  align-self-start mb-3 d-flex align-items-center">
            <div class="spinner-grow me-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <b class="me-3">
                Generating answer...
            </b>
            <button @onclick="CancelQuestionAsync" class="btn btn-outline-danger ms-5 minimize-onhover-pointer">
                <i class="bi bi-dash-square-fill me-2 minimize-onhover"></i>
                Cancel
            </button>
        </div>

        @* <div class="bg-light fw-light  rounded-1 px-2 pe-1 py-1 align-self-start mb-3 d-flex align-items-center">
            <div class="spinner-border spinner-border-sm me-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <b class="me-5">
                Generating answer...
            </b>
            <button @onclick="CancelQuestionAsync" class="btn btn-sm btn-outline-danger ms-5 minimize-onhover-pointer">
                <i class="bi bi-dash-square-fill me-1 minimize-onhover"></i>
                Cancel
            </button>
        </div> *@
    }

</div>
<div class="d-flex bg-light p-1 m-1 rounded-1">
    <InputTextArea @bind-Value="@inputText" @onkeydown="TextareaKeyPress" @ref="textarea"
        class="w-100 border-0 p-1 me-1" rows="4" style="resize: none; outline: none;"
        placeholder="Ask me anything..." />
    <div class="d-flex flex-column">
        <button @ref="sendButton" @onfocus="SubmitOnFocus" disabled="@isAnswering" 
            @onclick="AnswerQuestionAsync" class="btn btn-light w-100 h-50 mb-1 rotate-back-45-pointer">
            <i class="bi bi-send-fill rotate-back-45"></i>
        </button>
    </div>
</div>

@code {
    //QuestionAnswer? lastQa => AiChatService.Conversation.LastOrDefault();
    bool isAnswering => AiChatService.AnswerQuestionCancellationTokenSource is not null;
    string inputText = "";

    const string questionCanceledMessage = "Question was canceled.";

    ElementReference sendButton;
    InputTextArea? textarea;

    bool shouldScroll = true;
    bool shouldSubmit = false;

    string[][] suggestedQuestions = new string[][]
    {
        new[] { "Tell about yourself", "bi bi-stars" },
        new[] { "What's the weather like today?", "bi bi-cloud-moon-fill"},
        new[] { "Places to visit in Kaunas", "bi bi-buildings" }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            if (textarea?.Element is not null)
            {
                await textarea.Element.Value.FocusAsync();
            }

            AiChatService.Conversation.CollectionChanged += async (_, _) => 
                await InvokeAsync(() =>
                {
                    shouldScroll = true;
                    StateHasChanged();
                });
        }

        if (shouldScroll)
        {
            await JsRuntime.InvokeVoidAsync("scrollToBottom");
            shouldScroll = false;
        }
    }


    async Task TextareaKeyPress(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" && !e.ShiftKey)
        {
            shouldSubmit = true;
            await sendButton.FocusAsync();
        }
    }

    async Task SubmitOnFocus()
    {
        if (string.IsNullOrWhiteSpace(inputText) && textarea?.Element is not null)
        {
            await textarea.Element.Value.FocusAsync();
        }

        if (shouldSubmit)
        {
            shouldSubmit = false;
            await AnswerQuestionAsync();
        }
    }

    async Task AnswerQuestionAsync()
    {
        var text = inputText.Trim();

        if (string.IsNullOrEmpty(text))
        {
            return;
        }

        inputText = "";
        AiChatService.Conversation.Add(new ChatMessage(ChatRole.User, text));
        shouldScroll = true;
        AiChatService.AnswerQuestionCancellationTokenSource = new CancellationTokenSource();

        if (textarea?.Element is not null)
        {
            await textarea.Element.Value.FocusAsync();
        }

        await AiChatService.AnswerLastQuestionAsync();

        AiChatService.AnswerQuestionCancellationTokenSource = null;
        shouldScroll = true;
    }

    void CancelQuestionAsync()
    {
        AiChatService.AnswerQuestionCancellationTokenSource?.Cancel();
        AiChatService.AnswerQuestionCancellationTokenSource = null;

        AiChatService.Conversation.Add(new ChatMessage(ChatRole.System, questionCanceledMessage));
    }

    async Task QuickAnswerAsync(string question)
    {
        inputText = question;
        await AnswerQuestionAsync();
    }
}
